USE [DiyabetizDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09.09.2019 07:35:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.AboutUs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarbohydrateCountings]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarbohydrateCountings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContentCategoryID] [int] NOT NULL,
	[ReadCount] [int] NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Description] [varchar](8000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.CarbohydrateCountings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](35) NOT NULL,
	[Email] [nvarchar](40) NOT NULL,
	[Message] [nvarchar](1000) NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.ContactUs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiabetesEducations]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiabetesEducations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReadCount] [int] NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Description] [varchar](8000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.DiabetesEducations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adress] [nvarchar](600) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Description] [varchar](8000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
	[ThemeColor] [nvarchar](30) NULL,
	[IsFullDay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foods]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CarbValue] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Foods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Missions]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Missions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Missions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Description] [varchar](8000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Plans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visions]    Script Date: 09.09.2019 07:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_dbo.Visions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'2c1bf644-7be7-4439-b1d3-aeb1f428b6dd', N'Admin', N'AppRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'da332b59-998c-430d-b0a3-8704fa61bf23', N'User', N'AppRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c9c67ed2-113d-4182-a5df-8b4c36372e0a', N'2c1bf644-7be7-4439-b1d3-aeb1f428b6dd')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8bd2dd59-3fa9-4fb4-b63d-8b1c76d6edfb', N'da332b59-998c-430d-b0a3-8704fa61bf23')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Surname], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0f22b978-13cd-4bc1-9cb0-3af6556ab52c', N'Esila', N'Azra', N'kbrdee86@gmail.com', 0, N'AOQb8jBKCfchV521StrZEGNWS4b6FV1g4EkB6BlN/puIvMhT02sUO2ji7zSLGzyBLg==', N'9b9a8da3-e1b9-4084-8260-c7b400e6d614', NULL, 0, 0, NULL, 0, 0, N'AdminKubo')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Surname], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6f12d921-47d8-4f14-bfc7-10dbd19ab514', N'Esila', N'Azra', N'kbrdee86@gmail.com', 0, N'ACOC2qhjgXtekGdQc/H81amubwOMAHNwGuhLnqxWeTzqDfNPQQXbAtS4NMlfoFRhSw==', N'93d464a6-947e-47a1-9f31-ae8fa096f148', NULL, 0, 0, NULL, 0, 0, N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Surname], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'8bd2dd59-3fa9-4fb4-b63d-8b1c76d6edfb', N'Hatice Kubra ', N'Demirkır', N'zey@gmail.com', 0, N'AJp9ruScLHZ/nPcHDas65hgGxU6gXMWsDPbQs7le2MAow8niKg1U+6YKfYptlOLTWg==', N'ca49a254-d652-488c-8ed8-182a35d2a829', NULL, 0, 0, NULL, 0, 0, N'kbr')
SET IDENTITY_INSERT [dbo].[CarbohydrateCountings] ON 

SET IDENTITY_INSERT [dbo].[CarbohydrateCountings] OFF
SET IDENTITY_INSERT [dbo].[ContactUs] ON 

INSERT [dbo].[ContactUs] ([ID], [Name], [Email], [Message], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (1, N'Hatice Kubra ', N'hk@hk.com', N'asdasdasd', NULL, CAST(N'2019-09-06T17:07:56.487' AS DateTime), 1, 1)
INSERT [dbo].[ContactUs] ([ID], [Name], [Email], [Message], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (2, N'Hatice', N'zedfdff', N'sdfghjkhgfds', NULL, CAST(N'2019-09-06T18:13:26.457' AS DateTime), 1, 1)
INSERT [dbo].[ContactUs] ([ID], [Name], [Email], [Message], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (3, N'sfddede', N'dgfds', N'gfdsasdfghgfds', NULL, CAST(N'2019-09-06T18:16:32.657' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[ContactUs] OFF
SET IDENTITY_INSERT [dbo].[DiabetesEducations] ON 

SET IDENTITY_INSERT [dbo].[DiabetesEducations] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Foods] ON 

INSERT [dbo].[Foods] ([ID], [Name], [CarbValue], [Description], [ImageURL], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (2, N'Kiraz', 15, N'Belirtilen karbonhidrat değeri 90 gr için geçerlidir.', N'773e356fd2704985b6481acb41baa937kiraz.jpg', CAST(N'2019-09-06T02:15:12.013' AS DateTime), CAST(N'2019-09-06T02:15:12.013' AS DateTime), 1, 1)
INSERT [dbo].[Foods] ([ID], [Name], [CarbValue], [Description], [ImageURL], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (3, N'Eti Form ', 33, N'Belirtilen karbonhidrat değeri 1 paket ( 6 adet ), 40 gr için geçerlidir.', N'200b99df9b254df1b26ebc7ed90130a7eti-form-light-misir-ve-pirinc-patlagi.jpg', CAST(N'2019-09-06T02:55:21.127' AS DateTime), CAST(N'2019-09-06T02:55:21.127' AS DateTime), 1, 1)
INSERT [dbo].[Foods] ([ID], [Name], [CarbValue], [Description], [ImageURL], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (4, N' Armut', 15, N'Belirtilen karbonhidrat değeri 120 gr için geçerlidir.', N'ac228b2a61c6495583531964cfeb7056armut.jpg', CAST(N'2019-09-06T02:56:17.797' AS DateTime), CAST(N'2019-09-06T02:56:17.797' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Foods] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([ID], [Title], [ImageURL], [Description], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (5, N'Dünya Diyabet Günü', N'f62b1d6003b2438393151847566bd3c7dg.jpg', N'Diyabetiz, Dünya Diyabet Günü etkinligini büyük bir katilimla gerçeklestirdi. Etkinligimize katilan herkese çok tesekkür ederiz.', CAST(N'2019-09-08T22:55:07.357' AS DateTime), CAST(N'2019-09-08T22:55:07.357' AS DateTime), 1, 1)
INSERT [dbo].[News] ([ID], [Title], [ImageURL], [Description], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (6, N'Diyabetiz Kahvaltıda', N'2d886464defd4c159c4c26981d551d9ek.jpg', N'Diyabetiz olarak kahvalti etkinligimizi gerçeklestirdik. Etkinligimize katilan tüm misafirlerimize çok tesekkür ederiz. Biz çok eglendik, sizin de eglendiginizi umuyoruz.', CAST(N'2019-09-08T03:35:43.243' AS DateTime), CAST(N'2019-09-08T03:35:43.243' AS DateTime), 1, 1)
INSERT [dbo].[News] ([ID], [Title], [ImageURL], [Description], [UpdatedDate], [CreatedDate], [CreatedByID], [IsActive]) VALUES (7, N'Boğaz Turu 2', N'2a943adf2d084f7ba2efd45084fed10dnogaz.jpg', N'Diyabetiz, sizlerin katilimiyla gerçeklesen bogaz turu etkinligini, güzel bir sekilde tamamladi. Yeni etkinliklerimizde tekrar bulusacagimizi umuyoruz.', CAST(N'2019-09-08T03:36:15.340' AS DateTime), CAST(N'2019-09-08T03:36:15.340' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[News] OFF
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((0)) FOR [IsFullDay]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
