@model NewsVM
@{
    ViewBag.Title = "Haber Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("NewsAdd", "News", FormMethod.Post, new { @role = "form", @enctype = "multipart/form-data" }))
        {
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Başlık</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.news.Title, new { @class = "form-control", type = "text", placeholder = "Enter Content Title", required = "true", maxlength = 100 })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="col-md-3 control-label">Açıklama</label>
                        <div class="col-md-9">

                            @Html.TextAreaFor(x => x.news.Description, new { @class = "form-control", id = "", type = "text", placeholder = "Enter Description", required = "true", maxlength = 1000 })
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="col-md-3 control-label">Fotoğraf</label>
                        <div class="col-md-9">
                            <input type="file" name="file" required>
                        </div>
                    </div>
                    <br />
                    <div class="form-group last mt-2 clearfix">
                        <div class="col-md-3">
                        </div>
                        <br />
                        <div class="col-md-9">
                            <button type="submit" class="btn green">Kaydet</button>
                            @Html.ActionLink("İptal", "NewsList", null, new { @class = "btn default" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#summernote').summernote();
    });
</script>