
@{
    ViewBag.Title = "AboutUs";
}

<div class="container-wrap">

    <div id="fh5co-about">
        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
                <h3>Diyabet Andı</h3>
                <p>Bir diyabetik olarak, kendimden yakınmadan ve yılmadan Diyabet sağlık ekibimin önerilerine, düzenle ve titizlikle uyacağıma, kendimden küçükleri, diyabetikleri ve doğayı koruyup kollayacağıma, kendimle, çevremle ve insanlarla daima barışık yaşayacağıma, bugünüme güvenle, geleceğime umutla bakacağıma, doğruluktan ayrılmayacağıma, çalışmaktan yılmayacağıma, tüm değerlerim üzerine söz veririm.</p>
               
            </div>
            <div class="col-md-3">
               
            </div>
        </div>
    </div>

</div>
